.blog-single
  border-right: 2px $gray-lighter solid
  .article-title
    font-family: "proxima-nova"
    font-size: 50px
    color: #FFF
    font-weight: bold
    letter-spacing: -2px
    line-height: 1.3em
    span
      background: rgba(50,50,50,.3)

  .article-title-about
    padding-top: 20px

.article-featured-image
  width: 100%
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 50%
  background-repeat: no-repeat
  background-attachment: fixed

.article-featured-image-wrapper
  height: auto
  margin-bottom: 50px

.blog-single-article-header
  position: absolute
  bottom: 150px
  width: 100%

  .img-author
    width: 50px
    height: 50px

  .article-info
    font-size: 14px
    color: #e3e3e3
    a
      color: #e3e3e3
      &:hover
        color: #FFF
    span
      background: rgba(50,50,50,.2)

.blog-single .content
  p, h1, h2, h3, h4, h5, h6
    -webkit-font-smoothing: antialiased
    letter-spacing: .01rem
    text-rendering: optimizeLegibility
  p
    font-size: 20px
    line-height: 1.5em
    font-family: "adelle", serif
    padding-top: 10px

  h1, h2, h3, h5, h6
    margin-top: 40px
    font-weight: bold
    font-family: "proxima-nova"

  img
    margin-top: 30px
    margin-bottom: 30px

.blog-single-scroll-down
  color: #aaa
  font-size: 50px
  position: absolute
  bottom: 50px
  text-align: center
  width: 100%
  &:hover
    color: #FFF

.blog-list .article
  padding-bottom: 50px
  margin-bottom: 50px
  border-bottom: 2px $gray-lighter solid