.article-header
  .article-title a
    font-family: "adelle", serif

  .img-author
    width: 35px
    height: 35px

  .article-info
    font-size: 14px
    line-height: 1.3em
    color: $gray-light
    a
      color: $gray-light
      text-decoration: underline

.blog-list .article
  padding-bottom: 50px
  margin-bottom: 50px
  border-bottom: 2px $gray-lighter solid