section
  width: 100%
  height: 100%
  padding-top: 3%

  p, h2, h3, h4, h5
    color: #FFF

  h2, h3
    text-align: center

  h2.section-title
    font-size: 5em
    font-weight: 600
    text-transform: uppercase

  h3.section-tags
    font-size: 2em
    color: rgba(255,255,255,.6)
    margin-bottom: 50px

  .testimonial
    max-width: 500px
    margin: auto
    margin-bottom: 50px

    p
      color: rgba(255,255,255,.6)

    .avatar
      width: 100px
      height: 100px
      margin: 0
      padding: 0
      margin-right: 20px

  .screenshot
    text-align: center
    img
      max-width: 200px



.section-about
  top: 100px !important
  padding-top: 0
  .quote
    text-align: center
    margin-top: 150px
    font-size: 3em

.section-swat
  background: #263D55

.section-jobiqo
  background: #0E8E72
  color: #FFF

.section-ntry
  background-color: #9bc932
  background-image: -moz-linear-gradient(top, #a1d036, #93c02d)
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a1d036), to(#93c02d))
  background-image: -webkit-linear-gradient(top, #a1d036, #93c02d)
  background-image: -o-linear-gradient(top, #a1d036, #93c02d  )
  background-image: linear-gradient(to bottom, #a1d036, #93c02d)
