@import 'variables'
@import 'bootstrap'
@import 'projects'
@import 'about'
@import 'blog'
@import 'blog-list'
@import 'hire-us'
@import 'subscribe'

body
  border-top: $saloon-red 4px solid

h1, h2, h3, h4, h5, h6
  font-family: "proxima-nova", sans-serif
  font-weight: 400
  color: #333

*, p
  font-family: "proxima-nova"

p
  font-size: 1.2em
  line-height: 1.7em
  color: #333

a
  color: $saloon-red
  &:hover
    color: $saloon-red

.navbar-logo
  height: $navbar-height
  margin-top: $navbar-padding-vertical

.navbar
  background: transparent
  @media (min-width: $screen-sm)
    margin-bottom: 0

.nav li
  text-align: center
  margin-left: 1em
  a
    font-size: 1.3em
    line-height: $navbar-height
    font-weight: 600
    &.current, &.current:hover
      color: $saloon-red

.navbar-toggle
  margin-top: 30px
  border: 1px #f1f1f1 solid !important
  border-radius: 0
  &:hover
    background: transparent !important
    border-color: #eee !important

  .icon-bar-label
    padding-left: 10px
    color: $saloon-red
    line-height: 15px

.navbar-default .navbar-toggle .icon-bar
  background-color: $saloon-red

img
  max-width: 100%
