#mc_signup_form .mc_input
  border-radius: 5px
  box-shadow: none
  border: 2px #ddd solid
  padding: 5px 10px
  font-size: 20px

#mc_signup_submit
  margin-left: 10px
  background: $saloon-red
  color: #FFF
  border: 0
  font-size: 18px
  line-height: 30px
  padding: 4px 20px
  border-radius: 5px
  width: auto !important

.mc_var_label
  display: none

